/* @import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700); */
/*  @import url(http://fonts.googleapis.com/css?family=Slabo+27px);  */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

body {
	font-size: 1.1em; 
/*	background: #777;  */
	margin: 0px; 
	padding: 0px;
	color: #353535; 
}
 


#container {
	width: 800px;  

	background-color: #fff;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; 
	font-family: -apple-system, "Myriad Pro", 'PT Serif', Sans-Serif;
}


#face {
float: right;
margin-right: 60px;

}

.paper {
	margin-bottom: 20px;
	min-height: 160px;
}

.paper img {
	max-height: 160px;
	float: right;
	margin-left: 10px;
	overflow: hidden;
}	

.paper p {
	width: 80%;
}


.paper .title {
	font-size: 1.2em;
}

.paper .author-journal {
	color: #777777;
	font-size: 1.0em;
}

.paper2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.paper2 p {
    width: 100%;
}

.paper2 .title {
    font-size: 1.2em;
}

.paper2 .author-journal {
    color: #777777;
    font-size: 1.0em;
}


.figure img {
    float: right;
    margin-left: 10px;
    height: 200px;
}


 #header {
	#background: #1d4e91;
	margin-right: 80px;
/*	background-image: url("images/logo.png");
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: right center;  */

	padding: 0px;
	color: #333333;
 }
 #header h1 {
     margin: 10px 0px 0px 0px;
     text-align: left;
     font-size: 1.5em;
     color: #707070;
/*      font-family: "PT Serif", Georgia, Serif; */
     font-weight: bold;
     padding: 0px;
 }

 #mainContent {
     padding: 0px; 
     margin: 0px;
  /*   background-color: 'transparent'; */
}

 #footer { 
     padding: 0px;
     margin: 0px;
     color: #bbb;
} 

#footer h3 {
    font-size: 1.4em;
}


#footer p {
     /*	margin-left: 200px;  */
     font-size: 0.9em;
     text-align: left;
     color: #bbb;
     margin: 20px;
 }
 #container #header div p {
     font-size: 1em;
}

#menu
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    font-size: 1em;
    text-align: center;

/*      background-color: #476ea5; */
    border-bottom: solid 1px gray;
}

#menu div
{
    clear: both;
    margin: 0px;
    padding: 0px;
}

#menu .home {
    float: left;
    padding: 0px;
    margin-left: 40px;

}

#menu ul
{
    /*display: block; */
    position: relative; 
    float: left;
    top: 1px;
    list-style: none;
    padding: 0px, 0px, 0px, 0px;
    margin: 5px 0px 0px 0px;
/*    margin-left: 40px; */

}
        
#menu ul li
{
    position: relative;
    float: left;
    border: solid 1px gray;
    border-bottom: 0px;
    margin-right: 20px; 
    margin-left: 0px;
}

#menu ul li a
{
    display: block;
    padding: 5px 5px 6px 5px;
    text-decoration: none;
    background-color: inherit;
    /*      color: #C85A17;  */
    color: red;
}

#menu ul li a:hover
{
/*	background-color: #FAF8CC; */
/*	color: red; */
    background-color: #FAF8CC;
}

#menu ul li.active, #menu ul li.active a, #menu ul li.active a:hover
{
    background-color: #ffffff;
    color: #000000;
    border-top: solid 1.2px black;
    
}

#mainContent {
    margin: 0px 80px 0px 0px;

}

#mainContent h2
{
	font-size: 1.6em;
	margin-bottom: 1em;
	margin-top: 1em;
/*    font-family:  "PT Serif", Georgia, Serif; */
}

#mainContent h3
{
	font-size: 1.4em;
	
 /* font-family: Lato, "PT Serif", Georgia, Serif; */

/* 	color: #1d4e91; */

}

#mainContent h4
{
	font-size: 1.2em;
	
  /*  font-family: "PT Serif", Georgia, Serif; */
    padding: 10px 0px 0px 0px;
    margin: 0px;
/* 	color: #476ea5; */
}

#mainContent p
{
	text-align: left;
	font-size: 1.1em;
	margin: 3px 0px 0px 0px;
	padding: 0px;
}

#mainContent ul
{
/*	list-style: disc; */
/*	padding-left: 40px;
	padding-right: 15px;
	margin-bottom: 30px; */
}

#mainContent ul li
{
        margin-bottom: 10px;
}


#mainContent ol
{
	/* line-height: 16px;         */
}

#mainContent ol li
{
        margin-bottom: 10px;
}

.floatright 
{
	float: right; 
	padding:2px 0px 8px 20px; 
	margin: 0; 
}

.floatleft
{
	float: left; 
	padding:2px 20px 8px 0px; 
	margin: 0; 
}

.floatcenter
{
	float: center;
	padding:2px 20px 8px 20px; 
	margin: 0; 
}

.cleaner{clear: left; line-height: 0; height: 0;} 

.project{
 position: relative;
/*  width: 90%; */
  float: left;
  padding:0px;
  margin: 0px 0px 0px 0px;

}


.project h3 {
 padding: 10px 0px 10px 0px;
 margin: 0px;
}

#mainContent .project p{
 padding: 0px 0px 5px 0px;
 margin: 0px;
}


.people {
  position: relative;
  width: 33.33%;
  float: left;
  padding:0px;
  margin: 0px;
  height: 250px;
}


#mainContent .people p
{
padding: 10px 10px 10px 10px;	
margin: 0px;
text-align: center;

}

.people img{
 padding: 0px;
margin-left: auto;
    margin-right: auto;
  display: block;
border:none;
height: 150px;
 }



a{
 text-decoration: underline;
  background-color: inherit;
color: inherit;
}

a:hover {
  text-decoration: underline; 
  background-color: #FAF8CC;
  color: red;
}
